<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PlasticWasteManagementApp"
        tools:targetApi="31">
        <activity
            android:name=".ui.collector.ReportsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.collector.CollectActivity"
            android:exported="false" />
        <activity
            android:name=".ui.collector.UpcomingCollectionsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.customer.RedeemPointActivity"
            android:exported="false" />
        <activity
            android:name=".ui.customer.ScheduledPickupActivity"
            android:exported="false" />
        <activity
            android:name=".ui.customer.CollectionCentersActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyApfnXNHIkP21QFvSkdIqFI1fnzShVbDrg" />

        <activity
            android:name=".ui.MapsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Donor.DonorDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Organisation.OrganisationDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Donor.GetStartedDonorActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Organisation.GetStartedOrganizationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.customer.GetStartedIndividualActivity"
            android:exported="false" />
        <activity
            android:name=".ui.collector.GetStartedCollectorActivity"
            android:exported="false" />
        <activity
            android:name=".ui.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.collector.BusinessRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.collector.CollectorDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".ui.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".ui.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.customer.PlasticSortingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.customer.RecyclingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.customer.SchedulePickupActivity"
            android:exported="false" />
        <activity
            android:name=".ui.customer.UserDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="false" />
    </application>

</manifest>